//-
	Created by ITUA on 13.06.2017.

.reg-info
	h1.reg-info__title B2B портал Romsat
	p.reg-info__desc Зареєстровані клієни «РОМСАТ»<br> можуть скористатись сервісами порталу:
	ul.reg-info__list
		li.reg-info__item Підбір і резервування товару
		li.reg-info__item Оформлення замовлення online
		li.reg-info__item Перегляд прайс-листа з урахуванням стану складу
		li.reg-info__item Персональні знижки і акційні пропозиції
		li.reg-info__item Формування і перегляд документів, взаєморозрахунків
		li.reg-info__item Работа з сервісними запитами
	p.reg-info__ps.
		Для входу на В2В-портал введіть логін-пароль, виданный вам менеджером «Ромсат», у формі справа. Якщо Ви ще не являєтесь клієнтом «Ромсат»,
		але хочете розпочаті співпрацю – будь-ласка, подайте Ваш запит через форму Регістрації справа. Менеджер компанії зв’яжеться з Вами для уточненя деталей і надання доступу на b2b портал.