extends ../../layouts/layout-registration/layout-registration

block title
	title Регистрация

block content

	.page-registration
		.container.page-registration__container
			.page-registration__img
			.page-registration__info
				include ../../components/blocks/registration/reg-info/reg-info

			.page-registration__forms
				include ../../components/blocks/registration/reg-switcher/reg-switcher




