//-
	Created by ITUA on 16.06.2017.

extends ../../layouts/layout-registration/layout-registration

block title
	title Изменение пароля

block content
	.page-change-pass
		.container
			.page-change-pass__title.title B2B портал Romsat

			.page-change-pass__content
				include ../../components/forms/form_change-pass/form_change-pass

