$flag-rus: 0px 65px 0px -65px 22px 16px 160px 113px '../images/sprites/sprite.png';
$flag-ua: 47px 65px -47px -65px 22px 16px 160px 113px '../images/sprites/sprite.png';
$lang-arrow: 0px 106px 0px -106px 11px 7px 160px 113px '../images/sprites/sprite.png';
$logo-itua-hover: 0px 0px 0px 0px 36px 40px 160px 113px '../images/sprites/sprite.png';
$logo-itua: 61px 0px -61px 0px 35px 40px 160px 113px '../images/sprites/sprite.png';
$recovery-back: 135px 65px -135px -65px 18px 11px 160px 113px '../images/sprites/sprite.png';
$reg-info-check: 94px 65px -94px -65px 16px 13px 160px 113px '../images/sprites/sprite.png';
$server-err: 121px 0px -121px 0px 39px 32px 160px 113px '../images/sprites/sprite.png';

@mixin sprite-position($sprite) {
$sprite-offset-x: nth($sprite, 3);
$sprite-offset-y: nth($sprite, 4);
background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
$sprite-image: nth($sprite, 9);
background-image: url($sprite-image);
}

@mixin sprite-mixin-template($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
width: nth($sprite, 5);
height: nth($sprite, 6);
}

@mixin bg($sprite, $repeat: no-repeat) {
@include sprite-mixin-template($sprite);
$sprite-total-width: nth($sprite, 7);
$sprite-total-height: nth($sprite, 8);
background-size: $sprite-total-width, $sprite-total-height;
background-repeat: $repeat;



}
