//-
	Created by ITUA on 15.06.2017.

section#modal-reg-success.modal.modal_reg-success.mfp-hide.mfp-with-anim
	.modal__logo
			.modal__icon
				+svg_ok
	.modal__title Дякуємо!
	.modal__desc.
			Ви успішно залишили заявку на реєстрацію,
			ми опрацюємо вашу заявку
			і відправимо авторизовані дані на вказаний Email.
	.modal__footer
			button.modal__btn-close.btn.btn_green.btn_block.btn_big ОК