//-
	Created by ITUA on 14.06.2017.

.reg-switcher
	.reg-switcher__tabs
		include ../../tabs/tabs_reg-switcher/tabs_reg-switcher

	.reg-switcher__recovery
		.reg-switcher__title Відновлення паролю
		include ../../../forms/form_recovery/form_recovery