//-
	Created by ITUA on 11.05.2017.


mixin svg_arrow-2 ()
	svg(class='svg-icon svg-icon_arrow-2')
		use(xlink:href='#arrow-2')

mixin svg_arrow-back ()
	svg(class='svg-icon svg-icon_arrow-back')
		use(xlink:href='#arrow-back')

mixin svg_arrow ()
	svg(class='svg-icon svg-icon_arrow')
		use(xlink:href='#arrow')

mixin svg_attention ()
	svg(class='svg-icon svg-icon_attention')
		use(xlink:href='#attention')

mixin svg_balance ()
	svg(class='svg-icon svg-icon_balance')
		use(xlink:href='#balance')

mixin svg_callback ()
	svg(class='svg-icon svg-icon_callback')
		use(xlink:href='#callback')

mixin svg_cart ()
	svg(class='svg-icon svg-icon_cart')
		use(xlink:href='#cart')

mixin svg_check-mark ()
	svg(class='svg-icon svg-icon_check-mark')
		use(xlink:href='#check-mark')

mixin svg_check ()
	svg(class='svg-icon svg-icon_check')
		use(xlink:href='#check')

mixin svg_close ()
	svg(class='svg-icon svg-icon_close')
		use(xlink:href='#close')

mixin svg_incart ()
	svg(class='svg-icon svg-icon_incart')
		use(xlink:href='#incart')

mixin svg_information ()
	svg(class='svg-icon svg-icon_information')
		use(xlink:href='#information')

mixin svg_letter ()
	svg(class='svg-icon svg-icon_letter')
		use(xlink:href='#letter')

mixin svg_list ()
	svg(class='svg-icon svg-icon_list')
		use(xlink:href='#list')

mixin svg_log-out ()
	svg(class='svg-icon svg-icon_log-out')
		use(xlink:href='#log-out')

mixin svg_login ()
	svg(class='svg-icon svg-icon_login')
		use(xlink:href='#login')

mixin svg_logo-romsat ()
	svg(class='svg-icon svg-icon_logo-romsat')
		use(xlink:href='#logo-romsat')

mixin svg_notification ()
	svg(class='svg-icon svg-icon_notification')
		use(xlink:href='#notification')

mixin svg_ok ()
	svg(class='svg-icon svg-icon_ok')
		use(xlink:href='#ok')

mixin svg_phone ()
	svg(class='svg-icon svg-icon_phone')
		use(xlink:href='#phone')

mixin svg_refresh ()
	svg(class='svg-icon svg-icon_refresh')
		use(xlink:href='#refresh')

mixin svg_registration-key ()
	svg(class='svg-icon svg-icon_registration-key')
		use(xlink:href='#registration-key')

mixin svg_search ()
	svg(class='svg-icon svg-icon_search')
		use(xlink:href='#search')

mixin svg_sent-password ()
	svg(class='svg-icon svg-icon_sent-password')
		use(xlink:href='#sent-password')

mixin svg_skype ()
	svg(class='svg-icon svg-icon_skype')
		use(xlink:href='#skype')

mixin svg_user ()
	svg(class='svg-icon svg-icon_user')
		use(xlink:href='#user')

mixin svg_wine ()
	svg(class='svg-icon svg-icon_wine')
		use(xlink:href='#wine')