.svg-icon {
	display: inline-block;
	vertical-align: middle;

	&.svg-icon_arrow-2 {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_arrow-back {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_arrow {
		width: 48px;
		height: 48px;
		
	}

	&.svg-icon_attention {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_balance {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_callback {
		width: 30px;
		height: 30px;
		
	}

	&.svg-icon_cart {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_check-mark {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_check {
		width: 80px;
		height: 80px;
		
	}

	&.svg-icon_close {
		width: 32px;
		height: 32px;
		
	}

	&.svg-icon_incart {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_information {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_letter {
		width: 30px;
		height: 30px;
		
	}

	&.svg-icon_list {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_log-out {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_login {
		width: 74px;
		height: 74px;
		
	}

	&.svg-icon_logo-romsat {
		width: 110px;
		height: 65px;
		
	}

	&.svg-icon_notification {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_ok {
		width: 54px;
		height: 54px;
		
	}

	&.svg-icon_phone {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_refresh {
		width: 22px;
		height: 26px;
		
	}

	&.svg-icon_registration-key {
		width: 68px;
		height: 31px;
		
	}

	&.svg-icon_search {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_sent-password {
		width: 58px;
		height: 49px;
		
	}

	&.svg-icon_skype {
		width: 512px;
		height: 512px;
		
	}

	&.svg-icon_user {
		width: 330px;
		height: 93px;
		
	}

	&.svg-icon_wine {
		width: 512px;
		height: 512px;
		
	}

	
}










